*{
    box-sizing: border-box;
}
body{
padding: 0;
margin: 0;
font-size: 17px;
line-height: 1.53;
font-family: 'Roboto', sans-serif;
font-weight: 400;
/* font-stretch: ultra-condensed; */
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto ;
}
.container.large{
    max-width: 1310px;
}
 
.banner-part{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
/* height: 100vh; */
position: relative;
background: color url() repeat 50% 50% /cover;

}        
.banner-part::before{
    content: '';
    height: 100vh;
    display: block;

} 
         
.banner-part::after
{
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #bf3d42;
mix-blend-mode: darken;

}     
.bg-stretch{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 0;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.banner-content{
position: relative;
z-index: 9;
width: 100%;
max-width: 500px;
text-align: center;
color:#fff;
}
.banner-content p{
 margin: 0 0  25px;
}
.overline-text{
    text-transform: uppercase;
    font-size: 34px;
}
h1{
    font-weight: 700;
    font-size: 65px;
    text-transform: uppercase;
    margin: 0 0 ;

}
.btn{
    display: inline-block;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 60px;
    padding: 15px;
    display: inline-block;

}
.btn.primary{
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    min-width: 240px;
    border-radius: 30px;

}
.btn.secondary{
    padding: 15px;
    background-color: #bf3d42;
    border: 2px solid #bf3d42;
    color: white;
    min-width: 180px;
    border-radius: 25px;
    text-align: center;

}
#header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 15px 50px;
}
a{
    display: inline-block;
    vertical-align: top;
    height: 25px;
     width: 25px;
}
#header.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo a img{
    display: inline-block;
    vertical-align: top;
    height: 25px;
    width: 25px;
    color: white;
}
.nav span{
    display: block;
}
h2{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 45px;
    color: black;
}
h3{
    color: white;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.style{
    position: relative;
    padding-left: 44px;
    display: inline-block;
    vertical-align: top;
}
.style::after{
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    top: 10px;
    left: 0;
    background: url('./obj1.png') no-repeat center /cover;
    display: block;
}
.about-part{
    padding: 120px 0;
}
.two-columns,
.four-columns{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.two-columns .col{
    width: 50%;
    padding: 0 20px;
}
.four-columns{
    margin: 0 -10px;
}
.four-columns .col{
        width: auto;
        flex: 1;
        padding: 0 10px;
}

.about-part .image-wrap{
    position: relative;
    /* width: 500px;
    height: 345px; */
    padding-top: 69%; 
    overflow: hidden;
    border-radius: 23px;
}
.col span img{
    height: 42px;
    width: 42px;

}
.two-columns .col.larg.col{
    width:  58.333%;
}
.two-columns .col.small.col{
    width: 41.666%;
}
.about-part p{
    margin: 0;
}
.about-part .btn-wrap{
    margin-top: 60px;
}
.products-part{
    text-align: center;
}
.products-part h2{
    line-height: 1;
    margin-bottom: 17px;
}
.products-part .style::after{
    top: -6px;
}
.products-part p{
    margin: 0 0 15px;
}
.products-part .four-columns{
    padding: 45px 0;
}
.product-detail{
    background-color: #121212;
    border-radius: 23px;
    overflow: hidden;
}
.products-part .col .product-image{
    height: 400px;
    position: relative;
}
.products-part .col:nth-child(2) .product-image{
    height: 308px;
}
.products-part .col:nth-child(3) .product-image{
    height: 250px;
}
.products-part .col:last-child .product-image{
    height: 185px;
}
.product-content{
    padding: 0 20px 30px;
    font-size: 14px;
    line-height: 1.57;
    color: white;
}
.product-code{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    color: white;
    background-color: #191919;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    border: 2px solid #bf3d42;
    /* display: flex;
    flex-wrap: wrap; 
    align-items: center;
     justify-content: center; */
    line-height: 62px;
    text-align: center;
    margin: -30px auto 13px;
    position: relative;
    z-index: 9;
    
}
.product-detail h3{
    margin-bottom: 20px;
}
.products-part .btn-wrap{
    padding: 15px 0;
}
.products-part .button.primary{
    border-color: #b03d42;
    text-transform: capitalize;
}